html,
body,
textarea {
  -webkit-text-size-adjust: 100%;
  font-family:-apple-system,BlinkMacSystemFont,PingFang SC,Microsoft YaHei,helvetica Neue,helvetica,Tahoma,roboto,noto,Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
}

ol,
ul {
  list-style: none;
}

a,
a:hover {
  text-decoration: none;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  border: 0;
  outline: none;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

input::-webkit-input-placeholder { /* WebKit browsers */
  color: #999 !important;
}
input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #999 !important;
}
input::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #999 !important;
}
input:-ms-input-placeholder { /* Internet Explorer 10+ */
  color: #999 !important;
}