/*
 * common-color
 */
 $white: #fff;
 $black: #000;
 $gray: #999;
 
 /*
  * font-size
  */
 $fs-48: 48px;
 $fs-32: 32px;
 $fs-24: 24px; 
 $fs-20: 20px; 
 $fs-18: 18px; 
 $fs-16: 16px; 
 $fs-14: 14px; 
 $fs-12: 12px;
 
 /*
  * z-index
  */
 $z-100: 100;
 $z-200: 200;
 $z-300: 300;
 $z-1000: 1000;
 
 /*
  * bg-color
  */
 $bg-login-color: #1b1b1b; // 登录页背景颜色
 $bg-header-color: #232a2e; // 顶部组件背景颜色
 $bg-tag-color: #2b2b2b; // 标签背景颜色
 